{% extends 'base.html.twig' %}

{% block title %}Page Bar
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
                    {# Twig prend le tableau de tableau le parcours et affiche les clés/valeurs avec la syntaxe suivante
                        [ "name" => "Rousse 1" , "degree" => 5.6 ]  ----->  beer.name, beer.degree
                    #}
					{% for beer in beers %}
						{{ beer.name }}
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
